#navigation-panel {
	-webkit-box-shadow: 4px 0 6px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 4px 0 6px 1px rgba(0,0,0,0.1);
	box-shadow: 4px 0 6px 1px rgba(0,0,0,0.1);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #fff;
	border-right: 1px solid #ccc;
	z-index: 1200;
	list-style: none;
	padding-left: 0;
	margin-top: 0px;
	width: 150px;
	opacity: 0;	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	/* transition: all 0.2s ease-in-out;   PREVENTS navigation displacement in IE (therefore this option is turned off)*/
	visibility: hidden;

}
#navigation-panel.active{
	opacity: 1;
	visibility: visible;
	width: 210px;
}
#navigation-panel:hover {
	visibility: visible;
}
#navigation-panel .section-heading {
	font-size: 11px;
	font-size: .6875rem;
	line-height: 12px;
	line-height: .75rem;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	color: #999;
	cursor: default;
}
#navigation-panel ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
#navigation-panel .nav-bold ul i {
	width: 15px;
	margin-right: 13px;
	height: 17px;
	float: left;
	line-height: 16px;

}
#navigation-panel ul i.fa-angle-right {
	width: 5px;
	height: 17px;
	float: right;
	color: #CCC;
	line-height: 16px;
}
#navigation-panel .arrow-right {
	width: 0;
	height: 0;
	display: inline-block;
	border-left: 4px inset transparent;
	border-right: 4px inset transparent;
	border-top: 4px inset transparent;
	border-bottom: 4px inset transparent;
	border-left: 4px solid #b3b3b3;
	position: absolute;
	left: 187px;
}
#navigation-panel .arrow-right .arrow-conceal {
	width: 0;
	height: 0;
	display: inline-block;
	border-left: 4px inset transparent;
	border-right: 4px inset transparent;
	border-top: 4px inset transparent;
	border-bottom: 4px inset transparent;
	border-left: 4px solid #fff;
	position: absolute;
	top: -4px;
	left: -5px;
}
#navigation-panel .section {
	margin-top: 20px;
}
#navigation-panel li {
	font-size: 14px;
	font-size: .875rem;
	line-height: 17px;
	line-height: 1.0625rem;
	font-weight: 400;
}
#navigation-panel li a:hover, #navigation-panel li a.active{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f7f7f5;
	text-decoration: none;
}
#navigation-panel li a {
	color: #000;
	display: block;
	height: auto;
	line-height: auto;
	cursor: pointer;
	padding: 5px 9px 4px 9px;
	margin: 0 10px 1px;
	font-weight: normal;
}
#navigation-panel li a span {
	font-family: open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
	font-weight: bold;
	display: block;
	line-height: 18px;
}
#navigation-panel .section.nav-bold li a  {
	height: 18px;
}
#navigation-panel li .fa {
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	
}
.section .header {
	margin: 0 0 5px 19px;
}

/*------------------------------------- SUB NAVIGATION ----------------------------------------------------*/

.sub-navigation-panel {
	z-index: 1000000150;]
	width: 210px;
	height: 430px;
	position: fixed;
	top: 0;
	left: 200px;
	display: none;
	
	margin-left: 0px;
	margin-top: 0px;
	
	-webkit-box-shadow: -1px 4px 6px rgba(0,0,0,0.09);
	-moz-box-shadow: -1px 4px 6px rgba(0,0,0,0.09);
	box-shadow: -1px 4px 6px rgba(0,0,0,0.09);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	
	background-color: #fff;
}
.sub-navigation-panel:hover {
	display:block;
}
.sub-navigation-panel.active {
	display: block;
}
.sub-navigation-panel .sub-nav-content{
	margin: 15px 0px 15px 0px ;
	height: 100%; /**/
}

.sub-navigation-panel .sub-nav-content .secondary-container {
	width: 196px;
	display: inline-block;
	vertical-align: top;
}
.sub-navigation-panel .sub-nav-content .secondary-container .header {
	margin-left: 5px;
	margin-bottom: 10px;
}
.sub-navigation-panel .sub-nav-content .secondary-container .section-heading {
	font-size: 11px;
	font-size: .6875rem;
	line-height: 12px;
	line-height: .75rem;
	font-weight: 500;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	text-transform: uppercase;
	margin: 0 0 9px 0;
	padding: 0 12px;
	color: #999;
}

.sub-navigation-panel .sub-nav-content .secondary-container ul.secondary {
	display: block;
	margin: 0;
	list-style: none;
	padding-left: 0;
}

.sub-navigation-panel .sub-nav-content .secondary-container  ul.secondary li {
	font-size: 14px;
	font-size: .875rem;
	line-height: 17px;
	line-height: 1.0625rem;
	font-weight: 400;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-weight: 700;
	position: relative;
	margin-bottom: 2px;
}

.sub-navigation-panel .sub-nav-content .secondary-container  ul.secondary li a {
	color: #000;
	display: block;
	cursor: pointer;
	padding: 5px 21px 4px 12px;
	margin: 0 15px 1px 0;
	font-weight: 700;
}
.sub-navigation-panel .sub-nav-content .secondary-container  ul.secondary li a:hover {
	color:#000;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#e6ecf1;
	text-decoration:none;
}

.sub-navigation-panel .sub-nav-content .secondary-container  ul.secondary li a span {
	font-family: open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

/*------------------------- Tooltip arrow - create an arrow that points left ----------------------------*/

.tooltip-left {
	position: absolute;
	display:inline-block;
	top: 0;
	left: -30px;
}
/* shared with before and after */
.tooltip-left:before, .tooltip-left:after {
	content: ' ';
	display: inline-block;
	position: absolute;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	top: 0;
	left: 0;
}

/* top-stacked, smaller arrow */
.tooltip-left:before {
	border-top: 20px solid transparent;
	border-right: 20px solid #ccc;
	border-bottom: 20px solid transparent;
	border-right-color: #B1B1B1;
}

/* arrow which acts as a background shadow */
.tooltip-left:after {
	border-top: 19px solid transparent;
	border-right: 19px solid #FFFFFF;
	border-bottom: 19px solid transparent;
	left: 1px;
	top: 1px;
}
























