
/* =============================================
     Top Secondary Menu Swipe / scrolling ability 
   ============================================= */


/* =============================================
     TOP MENU 
   ============================================= */
#topmenu {
/*	border-top: 3px solid #2f2f2f; */
	height: 45px;
	max-height: 45px;
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
}

#topmenu .branding {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 1;
	margin-top: 0px;
	pointer-events:none;


}
#topmenu .branding .branding-heading{
	text-align: center;
	line-height: 30px;
	margin: 0;
	pointer-events:none;

}
.navbar .brand {
	float: none;
	display: inline;
	pointer-events: visible;

}
#topmenu .logo {
	width: 119px;
}
/* Fix adminbar covering page and header 
.navbar-fix-overlap {
	padding-top: 28px;	
}
& OTHER 
body.admin-bar .navbar-fixed-top {
	visibility:hidden;
}
*/




#topmenu #sidenav-button {
	line-height: 47px;
	padding: 0 8px 0 15px;
	margin: 0 6px;
	height: 41px;
	margin-right: 0;
	cursor: pointer;
	width: 40px;
	display: inline-block;
}
#topmenu #sidenav-button:hover {
	background-color: #f7f7f7;
}
#topmenu #sidenav-button:hover .fa-bars, #topmenu #sidenav-button:hover .fa-chevron-down {
	color: red;
}
#topmenu #sidenav-button .fa-bars {
	font-size: 21px;
	color: #777777;
}
#topmenu #sidenav-button .fa-chevron-down {
	font-size: 10px;
	margin-top:17px;
	vertical-align: top;
	color: #777777;
}
#topmenu .inner-wrapper {
	background-color: rgba(255,255,255,0.97);
	background-image: none;
	filter: none;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.15);
	box-shadow: 0 0 1px rgba(0,0,0,0.15);
	border-bottom-width: 0px;/* default #d4d4d4 */
	padding-right: 10px;
	padding-left: 10px;
}
#topmenu .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
}

#topmenu .inner-wrapper .brand {
border-right: 0px solid #f5f5f5;
}
#topmenu .logo {
	height: 40px;
	overflow: hidden;
	padding-right: 0;
	padding-left: 0;
}
#topmenu a {
	color: #333333;
	text-decoration: none;
}

#topmenu .navbar-search .search-query {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
width: 120px;
}

.topmenu-social {
background: #d5d5d5;
color: #fff;
height: 2em;
margin: 6px 12px 0 0;
width: 2em;
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
border-radius: 1em;
}

.topmenu-social:hover {
background: #45b0e3;
color: #fff;
text-decoration: none;
}

.topmenu-social i {
display: inline-block;
margin-left: 5px;
margin-top: 4px;
}

.topmenu-social .icon-facebook {
margin-left: 10px;
margin-top: 4px;
}

.topmenu-social .icon-twitter {
margin-left: 6px;
margin-top: 3px;
}

.topmenu-social .icon-rss {
margin-left: 8px;
margin-top: 3px;
}
.navbar #nav-login-wrapper {
	line-height:40px;
	font-size: 12px;
	float:right; 
	margin-right:8px;
	min-width: 120px;
}
.navbar #nav-login-wrapper i {
	margin-left: 3px; 
	font-size: 16px;
	text-align:center;
	display: inline-block; 
	vertical-align: middle;
}




/*-------------------------------------  SECONDARY TOP MENU  -----------------------------------------------*/
/* + Important: file named idangero.swiper.css that controls the container and wrapper heights, ect.  */
#top-menu-secondary {
	height: 41px;
	max-height: 41px;
    position: fixed;
    top: 41px;
    transition: top 0.2s ease-in-out;
    width: 100%;
	z-index: 1020;
	
	background-color: rgba(255,255,255,0.97);
	background-image: none;
	filter: none;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.15);
	box-shadow: 0 0 1px rgba(0,0,0,0.15);
	border-bottom-width: 0px;
	
	text-align: center;
}
#top-menu-secondary.nav-down {
}
#top-menu-secondary.nav-up {
   top: -41px;
}
#top-menu-secondary .container {
	width: 100%;
	margin-right: 0%;
	margin-left: 0%;
}
#push-content {
	width:100%; 
	height: 45px; 
	display: inline-block;
}
#top-menu-secondary .SecondaryTopMenu-Tablet-FontSize {
	font-size: 80%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#top-menu-secondary .SecondaryTopMenu-Mobile-FontSize {
	font-size: 80%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}


#top-menu-secondary  #menu-top-secondary-menu i {
	margin-right: 3px;
	font-size: 20px;
	vertical-align: middle;
	
}
#top-menu-secondary  #menu-top-secondary-menu li {
	height: 40px;
	line-height: 0px;
	display: -webkit-inline-box;
}
#top-menu-secondary  #menu-top-secondary-menu li a {
	line-height: 41px;
	height: 38px;
	border-right: 1px solid #f5f5f5; 
	padding-top: 0px;
	margin-top: 0;
	padding-bottom:  0px;

}
#top-menu-secondary  #menu-top-secondary-menu li .caret {
	margin-top: 19px;
	}
	#top-menu-secondary  #menu-top-secondary-menu li:hover , #top-menu-secondary  #menu-top-secondary-menu li.active  {
	  -webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  /* transition: all 0.2s ease-in-out;   PREVENTS navigation displacement in IE (therefore this option is turned off)*/
	}
	#top-menu-secondary  #menu-top-secondary-menu .menu-entertainment:hover a, #top-menu-secondary  #menu-top-secondary-menu .menu-entertainment.active a {
		color: #9933cc;
	}
	#top-menu-secondary  #menu-top-secondary-menu li.menu-entertainment:hover , #top-menu-secondary  #menu-top-secondary-menu li.menu-entertainment.active  {
		height: 38px;
		border-bottom:#9933cc solid 3px;
	}
	#top-menu-secondary  #menu-top-secondary-menu .menu-questions:hover a, #top-menu-secondary  #menu-top-secondary-menu .menu-questions.active a {
		color: #ff8800;
	}
	#top-menu-secondary  #menu-top-secondary-menu li.menu-questions:hover , #top-menu-secondary  #menu-top-secondary-menu li.menu-questions.active  {
		height: 38px;
		border-bottom:#ff8800 solid 3px;
	}
	#top-menu-secondary  #menu-top-secondary-menu .menu-dental-cases:hover a, #top-menu-secondary  #menu-top-secondary-menu .menu-dental-cases.active a {
		color: #2980b9;
	}
	#top-menu-secondary  #menu-top-secondary-menu li.menu-dental-cases:hover , #top-menu-secondary  #menu-top-secondary-menu li.menu-dental-cases.active  {
		height: 38px;
		border-bottom:#2980b9 solid 3px;
	}
	#top-menu-secondary  #menu-top-secondary-menu li.menu-speciality-fields:hover , #top-menu-secondary  #menu-top-secondary-menu li.menu-specialities.active  {
		height: 38px;
		border-bottom:#777777 solid 3px;
	}
	#top-menu-secondary  #menu-top-secondary-menu li.menu-all:hover , #top-menu-secondary  #menu-top-secondary-menu li.menu-all.active  {
		height: 38px;
		border-bottom:#777777 solid 3px;
	}
	#top-menu-secondary  #menu-top-secondary-menu .menu-quizes:hover a, #top-menu-secondary  #menu-top-secondary-menu .menu-quizes.active a {
		color:#b8dc4e;
	}
	#top-menu-secondary  #menu-top-secondary-menu li.menu-quizes:hover , #top-menu-secondary  #menu-top-secondary-menu li.menu-quizes.active  {
		height: 38px;
		border-bottom:#b8dc4e solid 3px;
	}
	#top-menu-secondary  #menu-top-secondary-menu .menu-articles:hover a, #top-menu-secondary  #menu-top-secondary-menu .menu-articles.active a {
		color:#E8CF3B;
	}
	#top-menu-secondary  #menu-top-secondary-menu li.menu-articles:hover , #top-menu-secondary  #menu-top-secondary-menu li.menu-articles.active  {
		height: 38px;
		border-bottom:#E8CF3B solid 3px;
	}

#top-menu-secondary #nav-main > ul > li {
}
#top-menu-secondary a {
	color: #333333;
}
#top-menu-secondary .nav > li > a {
	color: #777777;
}
#top-menu-secondary .nav > .active > a,
#top-menu-secondary .nav > .active > a:hover,
#top-menu-secondary .nav > .active > a:focus {
		background-color: #f7f7f7;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
#top-menu-secondary .nav > li > a:focus,
#top-menu-secondary .nav > li > a:hover {
	background-color: #fbfbfb;
}
#top-menu-secondary ul.nav li.dropdown:hover > ul.dropdown-menu {
display: block;    
}
#top-menu-secondary .nav > li > .dropdown-menu:before {
content: none;
}
#top-menu-secondary .nav > li > .dropdown-menu:after {
content: none;
}
#top-menu-secondary .dropdown-menu {
background-color: #fbfbfb;
border: 1px solid #f5f5f5;
border-bottom: none;
margin: 0;
padding: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
#top-menu-secondary .dropdown-menu li a {
border-bottom: 2px solid #f5f5f5;
filter: none;
padding-top: 5px;
padding-bottom: 5px;
}
#top-menu-secondary .dropdown-menu li a:hover, #top-menu-secondary .dropdown-menu li a:focus {
background-color: #45b0e3;
background-image: none;
}
#top-menu-secondary .dropdown-menu .active > a {
background-color: #fbfbfb;
background-image: none;
color: #333;
}
#top-menu-secondary .dropdown-menu .active > a:hover {
background-color: #45b0e3;
background-image: none;
color: #fff;
}
#top-menu-secondary .dropdown-submenu:hover > a {
color: #333;
background-color: #fbfbfb;
background-image: none;
filter: none;
}

#top-menu-secondary .dropdown-submenu:hover > a:hover {
color: #fff;
background-color: #45b0e3;
}

#top-menu-secondary .container ul {
	float: none;
	display: inline-block;	
}





