/* Hide the buttons you want */
#add_image { display:none; }
#add_video { display:none; }
#add_audio { display:none; }
#add_media { display:none; }

.rtl { /* FOR CUSTOM FIELD (ACF) of "mcqanswers" */
	direction: rtl;

}

.wpv-shortcode-post-icon {
	display:none;
	opacity: 0;
}

#mce_64, #mce_62 {
	display: none;
	visibility: hidden;
}

#easy_image_gallery .inside #easy_image_gallery_link_images, #easy_image_gallery .inside label {
	display: none;
}

body#tinymce.wp-editor {
background: #fff;
padding: 5px;
}

.add_gallery_images {
	margin: 0;
}

.acf-gallery .thumbnails {
	min-height: 80px;
}

#acf-image_gallery p.label label {
	display: none;
}
.acf_postbox > .inside > .field {
	padding: 0px 10px 15px 10px;
}


.column-post-type { /* Coloum admin post type width */
	width: 70px;
}

.inline-edit-col-left .inline-edit-group { /* Quick Edit password and private */
	display:none;
}

.custom-menu-seperator {
	background-color: #FFF;
}
#adminmenu li.menu-top.custom-menu-seperator{
	min-height: 0;
}
.custom-menu-seperator .wp-menu-image {
	display: none;
}
.custom-menu-seperator .wp-menu-name {
	color: #000;
	text-align: center;
	font-weight: bold;
	padding: 0;
}
#adminmenu .custom-menu-seperator div.wp-menu-name {
	padding: 0 0 2px 0;
}
