/*

Greatt !!!
"ff-meta-serif-web-pro",Georgia,Times,"Times New Roman",serif
http://www.teehanlax.com/story/medium/

H2 "Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif

"adelle-sans",sans-serif
Verdana,Tahoma,"DejaVu Sans",sans-serif
400 14px/24px "Whitney SSm A","Whitney SSm B","Georgia","Times New Roman",Serif

*/


@font-face {

}
@font-face {

}
@font-face {

    font-family: 'FreigTexProLig';
    src: url(../fonts/FreightTextPro/FreigTexProLig.otf)  ;
}
@font-face {

    font-family: 'FreigTexProBold';
    src: url(../fonts/FreightTextPro/FreigTexProBold.otf)  ;
}
@font-face {

    font-family: 'FreigTexProMed';
    src: url(../fonts/FreightTextPro/FreigTexProMed.otf)  ;
}
@font-face {

    font-family: 'FreigTexProSem';
    src: url(../fonts/FreightTextPro/FreigTexProSem.otf)  ;
}
@font-face {
    font-family: 'FreigTexProBook';
    src: url(../fonts/FreightTextPro/FreigTexProBook.otf);

}
@font-face {
	font-family: 'FreightSansPro';
    src: url(../fonts/FreightSansPro/FreigSanProBold.otf)  ;

}
@font-face {
	font-family: 'DroidSans-Bold';
    src: url(../fonts/DroidSans-Bold.ttf)  ;

}
@font-face {
	font-family: 'SourceSansPro-Bold';
    src: url(../fonts/source-sans-pro/SourceSansPro-Bold.ttf)  ;

}
@font-face {
	font-family: 'AlegreyaSans-ExtraBold';
    src: url(../fonts/AlegreyaSans-ExtraBold.otf)  ;
}

@font-face {
	font-family: 'almoniDL';
  src: url(../fonts/almoniDL/almoni-dl-aaa-300.eot) format('embedded-opentype'),
       url(../fonts/almoniDL/almoni-dl-aaa-300.woff) format('woff'),
       url(../fonts/almoniDL/almoni-dl-aaa-300.ttf) format('truetype'),
       url(../fonts/almoniDL/almoni-dl-aaa-300.svg) format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
	font-family: 'almoniDL';
  src: url(../fonts/almoniDL/almoni-dl-aaa-400.eot) format('embedded-opentype'),
       url(../fonts/almoniDL/almoni-dl-aaa-400.woff) format('woff'),
       url(../fonts/almoniDL/almoni-dl-aaa-400.ttf) format('truetype'),
       url(../fonts/almoniDL/almoni-dl-aaa-400.svg) format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
	font-family: 'almoniDL';
  src: url(../fonts/almoniDL/almoni-dl-aaa-700.eot) format('embedded-opentype'),
       url(../fonts/almoniDL/almoni-dl-aaa-700.woff) format('woff'),
       url(../fonts/almoniDL/almoni-dl-aaa-700.ttf) format('truetype'),
       url(../fonts/almoniDL/almoni-dl-aaa-700.svg) format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
	font-family: 'almoniDL';
  src: url(../fonts/almoniDL/almoni-dl-aaa-900.eot) format('embedded-opentype'),
       url(../fonts/almoniDL/almoni-dl-aaa-900.woff) format('woff'),
       url(../fonts/almoniDL/almoni-dl-aaa-900.ttf) format('truetype'),
       url(../fonts/almoniDL/almoni-dl-aaa-900.svg) format('svg');
  font-weight: 900;
  font-style: normal;
}

/*@font-face {
    font-family: "Geneva";
    src: url(../fonts/Geneva.ttf) format("truetype");
    font-family: "DroidSans";
    src: url(../fonts/DroidSans-Bold.ttf) format("truetype");
    font-family: "Georgia2";
    src: url(../fonts/GeorgiaRegular.ttf) format("truetype");
    font-family: 'SourceSansPro-Light';
    src: url(../fonts/SansPro/SourceSansPro-Light.ttf) format("truetype");
    font-family: 'PTC75F';
    src: url(../fonts/PTSans/PTC75F.ttf) format("truetype");
    font-family: 'PTC55F';
    src: url(../fonts/PTSans/PTC55F.ttf) format("truetype");
    font-family: 'PTS55F';
    src: url(../fonts/PTSans/PTS55F.ttf) format("truetype");
    font-family: 'PTS75F';
    src: url(../fonts/PTSans/PTS75F.ttf) format("truetype");

}

@font-face {
  font-family: 'Scheherazade';
  src: url('../fonts/Scheherazade/ScheherazadeRegOT.eot');
  src: url('../fonts/Scheherazade/ScheherazadeRegOT.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Scheherazade/ScheherazadeRegOT.woff') format('woff'),
       url('../fonts/Scheherazade/ScheherazadeRegOT.ttf') format('truetype'),
       url('../fonts/Scheherazade/ScheherazadeRegOT.svg#Scheherazade') format('svg');
}
*/
.fontpro,.fontpro-35285 {
  font-family: '../fonts/Scheherazade/Scheherazade',sans-serif;
}
