/* =============================================
					FOOTER 
   ============================================= */
#footer {
	color: #999999;
	margin-bottom: 20px;
	padding-top: 3px;
	border-top: solid 1px;
	max-width: 400px;
	font-size: 11px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DDD;
	border-right-color: #DDD;
	border-bottom-color: #DDD;
	border-left-color: #DDD;
}
#footer a {
color: #a5a5a5;
}
