/*/
http://www.himpfen.com/social-sharing-buttons-bootstrap-font-awesome/

http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
/*/
.btn {
	border: none;	
}

.btn-twitter {
	background: #00acee;
	border-radius: 0;
	color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
	color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
	background: #0087bd;
	color: #fff
}
.btn-facebook {
	background: #3b5998;
	border-radius: 0;
	color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
	color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
	background: #30477a;
	color: #fff
}
.btn-google-plus-1 {
	background: #e93f2e;
	border-radius: 0;
	color: #fff
}
.btn-google-plus-1:link, .btn-google-plus-1:visited {
	color: #fff
}
.btn-google-plus-1:active, .btn-google-plus-1:hover {
	background: #ba3225;
	color: #fff
}
.btn-stumbleupon {
	background: #f74425;
	border-radius: 0;
	color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
	color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
	background: #c7371e;
	color: #fff
}
.btn-linkedin {
	background: #0e76a8;
	border-radius: 0;
	color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
	color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
	background: #0b6087;
	color: #fff
}


.btn-email {
	background: #b3b3b3;
	border-radius: 0;
	color: #fff
}
.btn-email:link, .btn-email:visited {
	color: #fff
}
.btn-email:active, .btn-email:hover {
	background: #ADADAD;
	color: #fff
}
