# SZN MY CHANGES
  # SZN LINES I ADDED
  # http://stackoverflow.com/questions/7739870/increase-max-execution-time-for-php
  <IfModule mod_php5.c>
      php_flag display_errors 1
      php_value max_execution_time 300000
  </IfModule>
# END SZN MY CHANGES

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

